@tailwind base;
@tailwind components;
@tailwind utilities;

/* @media (prefers-color-scheme: dark) {
  :root {
    background-color: #000000;
  }

  button {
    color: #000000;
  }
} */

/* @media (prefers-color-scheme: light) {
  :root {
    background-color: #ffffff;
  }

  button {
    background-color: #ffffff;
    color: #ffffff;
  }
} */
